.navbar {
  background: linear-gradient(var(--color-bar), rgba(0,0,0,0));
  border:0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link, .navbar-brand{
  padding-bottom: 10px;
}

.nav-link:hover{
  border-radius: 3px;
  background:linear-gradient(rgb(255, 255, 255), rgba(0,0,0,0));
  padding-bottom: 10px;
}

.nav-item.active .nav-link{
  border-radius: 3px;
  background-color: var(--color-bg);
  color: var(--color-bar-text-active)
}

.dropdown-menu {
  box-shadow: var(--box-shadow);
  border-color: var(--color-bg);
}